<h1>My Repositorio </h1>
<!-- app.component.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Enlaces</title>
</head>
<body>

    <h1>Enviar Enlaces</h1>

    <form action="https://github.com/" input type="submit">
        <label for="enlace">Enlace:</label>
        <input type="text" id="enlace" name="enlace" placeholder="Ingrese el enlace completo" required>
        <br>
        <input type="submit" value="Enviar Enlace">
    </form>

</body>
</html>

